body {
    font-family: times new roman;
    background-color: red;
    margin-top: 20px;
}

.center {
    text-align:center;
}

.text-big {
    font-size: 600%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
    
